alembic==0.8.8
androguard==3.0.1
asn1crypto==0.24.0
beautifulsoup4==4.5.3
bottle==0.12.13
bson==0.5.6
cairocffi==0.8.1
CairoSVG==1.0.22
capstone==3.0.5rc2
cffi==1.11.5
chardet==2.3.0
click==6.6
colorama==0.3.7
cryptography==2.2.2
cssselect2==0.2.1
Cuckoo==2.0.6.2
distorm3==3.3.4
Django==1.8.4
django-extensions==1.6.7
docopt==0.6.2
dpkt==1.8.7
ecdsa==0.13
egghatch==0.2.3
elasticsearch==5.3.0
enum34==1.1.6
Flask==0.12.2
Flask-SQLAlchemy==2.1
functools32==3.2.3.post2
future==0.16.0
html5lib==1.0.1
HTTPReplay==0.2.3
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.9.6
jsbeautifier==1.6.2
jsonschema==2.6.0
M2Crypto==0.24.0
Mako==1.0.7
MarkupSafe==1.0
olefile==0.43
oletools==0.51
pdfrw==0.4
peepdf==0.4.2
pefile==2017.11.5
pefile2==1.2.11
Pillow==6.2.0
pipreqs==0.4.9
protobuf==3.6.0
pycparser==2.18
pycrypto==2.6.1
pyelftools==0.24
pymisp==2.4.54
pymongo==3.0.3
pyOpenSSL==18.0.0
Pyphen==0.9.4
python-dateutil==2.4.2
python-editor==1.0.3
python-magic==0.4.12
pythonaes==1.0
requests==2.13.0
roach==0.1.2
scapy==2.3.2
SFlock==0.3.5
six==1.11.0
SQLAlchemy==1.0.8
tinycss2==0.6.1
tlslite-ng==0.6.0
typing==3.6.4
unicorn==1.0.1
urllib3==1.23
virtualenv==15.0.1
wakeonlan==0.2.2
WeasyPrint==0.42.3
webencodings==0.5.1
Werkzeug==0.14.1
yara-python==3.6.3
yarg==0.1.9
